@font-face {
    font-family: myFirstFont;
    src: url('PaladinFLF.ttf');
}
html{
    font-size: 1rem;
}
h1 {
    font-size: 7vw;
    text-align: center;
    font-family: myFirstFont;
    opacity: 1.0;
    color: black;
}
/* header and header video are used to make the video responsive to the viewpoint size*/
header {
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
    z-index: 0;
    overflow: hidden;
 }
header video {
    /*these different transforms are all doing the same thing but are supported by different browsers*/
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 100vmax; /*fixes the problem for the video*/
   
}

.trans {
    background-color: transparent;
}
.black {
    background-color: black;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.fon{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
#d1,#d2,#d3{
    color: #9d9d9d;;
    background-color: black;
    
}
#d1:hover, #d2:hover, #d3:hover{
    color: white;
}
.white{
    color:white;
}